.avatar {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background: white;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
}

.avatar img {
    max-width: 30px;
    max-height: 30px;
}

